@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply min-h-screen bg-gray-100 font-sans text-slate-900 antialiased;
}

#root {
  @apply min-h-screen;
}
